<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		body {
			background-image: url(https://images.wallpaperscraft.com/image/blue_backgrounds_solid_light_65833_1366x768.jpg) !important;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			-o-background-size: cover;
		}
	</style>

	<title>Classes</title>
</head>
<button type="button" class="m-2 btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    New Card
</button>
<body>
	{% for cat in categories %}
	<h1>{{cat}}</h1>
	</div>
	<div class="row">
		{% for card in cards %}
		{%if card.category == cat%}
		<div class="col-3 card m-5">
				<div class="avatar mx-auto">
					<img src="{{card.profile_image}}" width="100px" height="100px" />
				</div>
				<h2>{{card.name}}</h2>
				{%for i in card.items%}
				<h4>{{i.period}}<a href='{{i.link}}'>{{i.name}}</a></h4>
				{%endfor%}
		</div>
		{%endif%}
		{%endfor%}
	</div>
	{%endfor%}

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content">
			<div class="modal-header">
				<h1>New Card</h1>
			</div>
			<div class="modal-body">
						<form>
							<select class=custom-select name=category>
								<option selected disabled>Category</option>
								{% for category in categories %}
								<option>{{category}}</option>
								{% endfor %}
							</select>
							<input class="form-control" name=name placeholder="Name"/>
							<input class="form-control" name=profile_image placeholder="Profile Photo URL">
							<table>
								<tr>
									<td><input class="form-control" name=period placeholder="Class Period"/></td>
									<td><input class="form-control" name=className placeholder="Class Name"/></td>
									<td><input class="form-control" name=url placeholder="Link"/></td>
								</tr>
							</table>
						</form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>