<!DOCTYPE html>
<html>

<head>
    <title>Messages</title>
    <base href="../" />
    <link rel='stylesheet' href='/static/messenger/messenger.css' type='text/css' />
    <link rel='stylesheet' href='/static/index.css' type='text/css' />
    <script src="/static/messenger/messenger.js"></script>
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
</head>

<body onload="form1.reset();">
    <!--messenger_main-->
    <h1 class='no-pad'>Messages</h1>
    <form action="/messenger/clear" method="POST">
        <p><input id='clear' type="submit" value="Clear" /></p>
    </form>
    <ul id=messagelist class="messagelist">
        {% for value in result %}
        <li class='message'> {{ value }} </li><br />
        {% endfor %}
    </ul>
    <!--<div id=messageListParent>

                </div>-->
    <form class='send' id='form1' action="/messenger/result" method="POST">
        <input id='text' autocomplete='off' type="text" name="Data" /><input class='no=pad' id='message-submit'
            type="submit" value="Send" />
    </form>
</body>

</html>