<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
  <link href="/static/lucky_shoe/style.css" rel="stylesheet">
  <title>Lucky Shoe Welding</title>
  <meta name='viewport' content='width=device-width initial-scale=1.0' />
  <!--Clicky Web Analytics-->
  <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101163615);</script>
  <script async src="//static.getclicky.com/js"></script>
  <!--End Clicky Web Analytics-->
</head>

<body>
  <!--Alerts from https://www.w3schools.com/howto/howto_js_alert.asp-->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert {{category}}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <img class=coverimage src=/static/lucky_shoe/Logo.png />
  <ul>
    <li><a href="/">JForseth.tech</a></li>
    <li class=right><a href="mailto:luckyshoe@jforseth.tech">Contact</a></li>
  </ul>
  <div class="bodytext left">
    <h1>About:</h1>
    <p>Lucky Shoe Welding sells custom built, handmade horseshoe art including crosses, Christmas trees and more. All
      pieces are built by Nolan Forseth and decorated by Karen Forseth. Take a look at our work: </p>
    <div class=row>
      <div class="half left">
        <img class=right src=/static/lucky_shoe/LargeTree.JPG />
        <h1>Large Tree</h1>
        <h3>$55*</h3>
        <p>These trees are four rows high and made using 14 triple-ot horseshoes. They are available with or without
          lights,
          decorated or undecorated, with or without a skirt. Dimensions are approximately 22" tall and 16" wide.</p>
        <button class=orderButton id=LargeTree>Order</button>
      </div>
      <div class="half right">
        <img class=right src=/static/lucky_shoe/LargeCross.JPG />
        <h1>Large Cross</h1>
        <h3>$40*</h3>
        <p>This cross is made using ten triple-ot horseshoes. It's about 25" tall and 17" wide.</p>
        <button class=orderButton id=LargeCross>Order</button>
      </div>
    </div>
    <div class="row">
      <div class="half left">
        <img class=right src=/static/lucky_shoe/SmallTree.JPG />
        <h1>Small Tree</h1>
        <h3>$40*</h3>
        <p>These trees are three rows high, made with triple-ot or pony horseshoes. They are available with or without
          lights,
          decorations, and skirt. With triple-ots it's about 17" tall and 12" wide. With pony shoes it's about 12" tall
          and 9" wide</p>
        <button class=orderButton id=SmallTree>Order</button>
      </div>
      <div class="half right">
        <img class=right src=/static/lucky_shoe/SmallCross.JPG />
        <h1>Small Cross</h1>
        <h3>$25*</h3>
        <p>This cross is made with six horseshoes. It's available in triple-ot or pony shoes. With triple-ots it's about
          17" tall and 10" wide. With pony shoes it's about 14" tall and 10" wide.</p>
        <button class=orderButton id=SmallCross>Order</button>
      </div>
    </div>
    <div class="row">
      <div class="half left">
        <img class=right src="/static/lucky_shoe/20191010_123010.jpg" />
        <h1>Snowman</h1>
        <h3>$15*</h3>
        <p>These three-tall snowmen are made using four triple-ot horseshoes. Each comes with a handmade scarf and hat.
          They are about 13" tall and 5" wide.</p>
        <button class=orderButton id=Snowman>Order</button>
      </div>
      <div class="half right">
        <img class=right src="/static/lucky_shoe/20191024_153719.jpg" />
        <h1>Turkey</h1>
        <h3>$30*</h3>
        <p>Made using seven and a half triple-ot horseshoes and hand-painted. It's approximately 9" tall, 12" wide, and
          7" deep.</p>
        <button class=orderButton id=Turkey>Order</button>
      </div>
    </div>
    <div class="row">
      <div class="half left">
        <img class=right src="/static/lucky_shoe/20191010_123046.jpg" />
        <h1>Star</h1>
        <h3>$20*</h3>
        <p>Star made from five horseshoes. About 10" by 10"</p>
        <button class=orderButton id=Star>Order</button>
      </div>
      <!--				<div class="half right">
					<img class=right src=/static/lucky_shoe/20191024_153719.JPG />
					<h1>Turkey</h1>
					<h3>{{PRICE}}*</h3>
					<p>Made using eight horseshoes and hand-painted.</p>
					<button class=orderButton id=Turkey>Order</button>
				</div>-->
    </div>
  </div>
  <footer>
    <small>*Price may vary based on decoration, color, etc. Designs may vary.</small><br />
    <small>Proudly designed and maintained by Justin Forseth</small>
  </footer>
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1>Order:</h1>
      <p>
        Price dependent on decorations, etc. Decorations may vary. We cannot deliver outside the Teton County area. Contact <a
          href="mailto:luckyshoe@jforseth.tech">luckyshoe@jforseth.tech</a> with any questions.
      </p>
      <form id=orderform class="orderform" action="/luckyshoe/order" method="POST">
        <p class=orderform>Name:</p>
        <input name=name class="input orderform" type="text" placeholder="John Doe" /> <br />
        <p class=orderform>Phone Number:</p>
        <input name=phone class="input orderform" type="tel" placeholder="(555) 555-5555" /> <br />
        <p class=orderform>Where to deliver:</p>
        <input name=location class="input orderform" type="text" placeholder="Fairfield, MT" /> <br />
        <div id="templateSpot"></div>
        <input type="submit" value="Order" />
      </form>
    </div>
  </div>
  <iframe src="/luckyshoe/formtemplates" id=formtemplates style="display: none;"></iframe>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var templateSpot = document.getElementById("templateSpot");
    // Get the button that opens the modal
    var orderbuttons = document.getElementsByClassName("orderButton");
    for (var i = 0; i < orderbuttons.length; i++) {
      orderbuttons[i].onclick = function () {
        showModal(this);
      }
    }
    function showModal(button) {
      var temp = document.getElementById("formtemplates").contentWindow.document.querySelectorAll("template#" + button.id)[0];
      console.log(temp)
      var clon = temp.content.cloneNode(true);
      templateSpot.innerHTML = "";
      templateSpot.appendChild(clon);
      modal.style.display = "block";
    }
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];


    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</body>

</html>
