{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block head %}
<link rel='stylesheet' href='/static/welcome/welcome.css' type='text/css' />
{% endblock %}
{% block heading %}Account
{% endblock %}
{% block content %}
{%if is_logged_in()%}
<p>This page is still kinda under construction. Here's you can do:</p>
<h3>Change Password</h3>
<div class=w3-third>
<form action="/changepw" method="POST">
	<p>Old Password:</p><input class="w3-theme-bg w3-theme-txt w3-input w3-animate-input wid50" type="password" name="old_password"/>
	<br />
	<p>New Password:</p><input class="w3-theme-bg w3-theme-txt w3-input w3-animate-input wid50" type="password" name="new_password"/>
	<br />
	<br />
	<input class="w3-round-large w3-button w3-theme-dark-element w3-bar-item" id=submit type="submit" name="submit" value="Change Password">
</form>
<h3>Delete Account</h3>
<p>Warning: This action is irreversible. Click this button will result in ALL OF YOUR DATA, including username, password, writer documents, todos and emails being deleted. They will be printed by a dot matrix printer and shredded. The shredded paper will be flown over the Bermuda Triangle and dropped. Any paper floating on the surface will then be launched into space, and dropped into a black hole. To make sure your data is completely destroyed we'll send Matthew McConaughey in after it to make sure its been destroyed in all 5 dimensions. If at any point, you decide you want you data back, contact your local intellegence agency, cause I don't have it! 
<form action="/accountdel" method='post'>
	<p>Password:</p><input class="w3-theme-bg w3-theme-txt w3-input w3-animate-input wid50" type="password" name="confirm_password"/>
	<input class="w3-round-large w3-button w3-theme-dark-element w3-bar-item" type=submit value="Delete my Account" />
</form>
</form>
</div>
{% else %}
<p>Please <a href="/login">sign in</a> first.</p>
{% endif %}
{% endblock %}
