{% extends 'base.html' %}
{% block title %} Forgot Password {% endblock %}
{% block heading %}
Forgot Password
{% endblock %}
{%block head%}
<link rel="stylesheet" href="static/login.css" />
{% endblock %}
{% block content %}
<br /><br />
<div class="container-fluid">
  <div class="row">
    <div class="form-group mx-auto text-center col-lg-6 col-md-8 col-sm-10 card p-3 w3-theme-element">
      <form action="/forgot_pw" class='w3-container w3-half w3-card-4 w3-center w3-round w3-theme-element'
        method="post">
        <h3 class=w3-center>Forgot Password:</h3>
        <p>Did you get locked out of your account? Don't worry, we'll have you back up and running in no time!</p>
        <div class=form-group>
          <p style='text-align:left' id=emailLabel>Recovery Email:</p>
          <input type="email" name=emailInput id="emailInput"
            class="w3-theme-element w3-theme-txt form-control" /><br>
          <p id=usernameLabel>Username:</p>
          <input name=usernameInput id="usernameInput"
            class="w3-theme-element w3-theme-txt form-control" /><br>
        </div>
        <input class="btn w-50 text-light w3-theme-dark-element" type="submit" value="Reset Password">
      </form>
    </div>
  </div>
</div>
{% endblock %}