{% extends 'base.html' %}
{% block title %} Forgot Password {% endblock %}
{% block heading %}
Forgot Password
{% endblock %}
{%block head%}
<link rel="stylesheet" href="/static/login.css" />
{% endblock %}
{% block content %}
<br /><br />
<div class="container">
  <div class=row>
    <div class="form-group mx-auto text-center col-lg-7 col-md-8 col-sm-10 card p-3 theme-element">
    <form method="post">
      <h3>Reset:</h3>
      <p>Did you get locked out of your account? Don't worry, we'll have you back up and running in no time!</p>
      <div class=form-group>
        <p style='text-align:left' id=usernameLabel>Username:</p>
        <input name=usernameInput id="usernameInput"
          class="theme-element theme-txt form-control" /><br>
        <p style='text-align:left' id=passwordLabel>New Password:</p>
        <input type=password name=passwordInput id="passwordInput"
          class="theme-element theme-txt form-control" /><br>
      </div>
      <input class="btn w-50 text-light theme-dark-element" type="submit" value="Reset Password">
    </form>
  </div>
</div>
{% endblock %}