{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block heading %}
Welcome to jforseth.tech
{% endblock %}
{%block head%}
<link rel="stylesheet" href="static/login.css" />
{% endblock %}
{% block content %}
<div class=w3-row>
  <div class='w3-col m6 l6'>
    <br />
    <p>A couple considerations before you sign up.</p>
    <ol>
      <li>I am a high school student. This site may stop working, go offline, lose, or leak data at any time. DO
        NOT
        put anything important on here. </li>
      <li>At time of writing, encryption hasn't been fully implemented. Your data can be read by anyone with
        access to my computer.</li>
    </ol>
    <p>Note: If you do not recieve an email, it may be in your spam folder. If you use gmail, you can create a filter
      for emails from "*@jforseth.tech" and prevent them from being marked as spam. Contact me for more info.</p>
    <p>In summary, if you're creating this account for anything even remotely important, don't.</p>
  </div>
  <div class='w3-col m6 l6'>
    <br />
    <form id='signupForm' action="/signup"
      class='w3-container w3-margin w3-padding w3-card-4 w3-center w3-round w3-theme-element' method="post">
      <h3 class=w3-center>Sign Up:</h3>
      <!--<div class="form-group">-->
      <div class='w3-row'>
        <div class='w3-col l6 w3-padding'>
          <p style='text-align:left' id=emailLabel>Recovery Email:</p><input type="email" name=emailInput
            id="emailInput" class="w3-theme-element w3-theme-txt w3-input w3-animate-input" /><br>
          <p id=usernameLabel>Username:</p><input name=usernameInput id="usernameInput"
            class="w3-theme-element w3-theme-txt w3-input w3-animate-input" /><br>
        </div>

        <div class='w3-col l6 w3-padding'>
          <p id=passwordLabel>Password:</p><input type=password name=passwordInput id="passwordInput"
            class="w3-theme-element w3-theme-txt w3-input w3-animate-input" /><br>
          <p style='text-align:left' id=confirmPasswordLabel>Confirm Password:</p><input type=password
            name=confirmPasswordInput id="confirmPasswordInput"
            class="w3-theme-element w3-theme-txt w3-input w3-animate-input" /><br>

        </div>
      </div>
      <input type=checkbox name=prayerInput id="prayerInput" class="w3-check" /><label id=prayerLabel>I want to
        recieve prayer requests.</label><br>
      <p style='text-align:left' id=parishLabel>Group Code:</p><input name=parishInput id="parishInput"
        class="w3-theme-element w3-theme-txt w3-input w3-animate-input"
        placeholder="Leave blank if you don't know" /><br>
      <button onclick='submit()' class="w3-button w3-theme-dark-element w3-round-large">Create Account</button>
    </form>
    <!--</div>-->
    </form>
    <div class=w3-quarter>
      <p> </p>
    </div>
  </div>
  <script src="static/signup.js"></script>
  {% endblock %}