{% extends 'base.html' %}
{% block head %}
<link rel='stylesheet' href='/static/videos.css' type='text/css' /><style>
        @media screen and (max-width: 712px) {
            .more-videos{
                width:100% !important;
                float:none !important;
            }
            .player-parent{
                width:100% !important;
                float:none !important;   
            }
        }
</style>
{% endblock %}
{% block title %}{{video[0]}}{% endblock %}
{% block heading %}
<a href="/videos">{{video[0]}}</a>
{% endblock %}
{% block content %}
<br/>
<div class="player-parent" style="float:left">
    <div class="youtube-player" data-id="{{video[1]}}"></div>
    <h1>{{video[0]}}</h1>
    <script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCJm15XU1Uity6plzSyyDDvQ" data-layout="default" data-count="default"></div>
</div>
<div class="more-videos" style="float:right;width:33%">
    <p>More videos</p>
    {% for i in videos %}

    <div style=overflow:auto;padding:3px;><a href="/videos/video/{{i[0]}}">
            <img src=https://img.youtube.com/vi/{{i[1]}}/0.jpg style="float:left;width:33%"><br />
            <h3 style="margin-top:-10px;">{{i[0]}}</h3><br />
        </a>
    </div>
    {% if check_if_admin() %}
    <form method=post action="/videos/rename" method="POST">
        <input type=text value="{{ i[0]}}" name=title />
        <input hidden value="{{ i[1]}}" name=youtube_id />
        <input type=submit id=submit value="Rename" />
    </form>
    <form method=post action="/videos/updateid" method="POST">
        <input type=text value="{{ i[1]}}" name=new_youtube_id />
        <input hidden value="{{ i[1]}}" name=old_youtube_id />
        <input type=submit id=submit value="Update ID" />
    </form>



    <form method=post action="/videos/move" method="POST">
        <input hidden value='{{ i[0] }}|{{ i[1]}}' name='element' />
        <input hidden value='up' name=direction />
        <input type=submit id=submit value="Move Up" />
    </form>
    <form method=post action="/videos/deletion" method="POST">
        <input hidden value="{{ i[1]}}" name=youtube_id />
        <input type=submit id=submit value="Delete" />
    </form>

    <form method=post action="/videos/move" method="POST">
        <input hidden value='{{ i[0] }}|{{ i[1]}}' name='element' />
        <input hidden value='down' name=direction />
        <input type=submit id=submit value="Move Down" />
    </form>
    {% endif %}
    {%endfor%}
</div>
<footer>
    <br /><small>Oh, and, in case it wasn't glaringly obvious, none of the music in these videos is my original
        work. Most of them have credit in the description. If it doesn't email me and I'll try to track the song
        down.</small>
    <br /><small><a href='/login/?next=%2Fvideos'>Click here to enter admin mode</a></small>
    <!--<br /><small>You are free to change or modify any of this work, with credit, for noncommercial use. If you do so, don't forget to also credit the music creator accordingly. 
                <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></small>
            -->
</footer>
<script>

    /* Light YouTube Embeds by @labnol */
    /* Web: https://labnol.org/?p=27941 */

    document.addEventListener("DOMContentLoaded",
        function () {
            var div, n,
                v = document.getElementsByClassName("youtube-player");
            for (n = 0; n < v.length; n++) {
                div = document.createElement("div");
                div.setAttribute("data-id", v[n].dataset.id);
                div.innerHTML = labnolThumb(v[n].dataset.id);
                div.onclick = labnolIframe;
                v[n].appendChild(div);
            }
        });

    function labnolThumb(id) {
        var thumb = '<img src="https://img.youtube.com/vi/ID/0.jpg">',
            play = '<div class="play"></div>';
        return thumb.replace("ID", id) + play;
    }

    function labnolIframe() {
        var iframe = document.createElement("iframe");
        var embed = "https://www.youtube.com/embed/ID?autoplay=1";
        iframe.setAttribute("src", embed.replace("ID", this.dataset.id));
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("allowfullscreen", "1");
        this.parentNode.replaceChild(iframe, this);
    }

</script>
{%endblock%}