{% extends 'base.html' %}
{% block head %}
<link rel='stylesheet' href='/static/videos/videos.css' type='text/css' />
<script src="/static/videos/videos.js"></script>
{% endblock %}
{% block title %}Videos{% endblock %}
{% block heading %}
Videos
{% endblock %}
{% block content %}
<br />
<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCJm15XU1Uity6plzSyyDDvQ" data-layout="default" data-count="default"></div>
{% if check_if_admin() %}
<p>Welcome to the jforseth.tech video admin console. If you don't know how you got here, DO NOT TOUCH ANYTHING! <a
        href="/logout">Click here</a> to reset.</p>
<p>If you know how you got here:</p>
<ul>
    <li>To add a video, enter the title and YouTube link and click 'Upload'.</li>
    <li>To rename a video, type the new title and click 'Rename'.</li>
    <li>To replace the youtube video, just paste in the new url and click 'Update ID'</li>
    <li>To delete the video, click 'Delete'</li>
    <li>To move the video use the 'Move Up' and 'Move Down' buttons.</li>
</ul>
<form method=post action="videos/newupload" method="POST">
    <input type=text name=title placeholder='Title' />
    <input type=text name=youtube_id placeholder="YouTube Link" />
    <input type=submit name=submit id='submit' value="Upload">
</form>
<br /><br />
{% else %}
<p>These are all of my video editing projects. To watch, you can either click on the thumbnail for a preview, or the
    title to be redirected to YouTube. I would serve them myself, instead of using YouTube, but my computer and my
    internet connection just aren't up to that. Enjoy!</p>
{% endif %}
{% for row in video_master_list %}
<div class="w3-row w3-cell-row">
    {% for video in row %}
    <div class="w3-third">
        <div class='w3-card w3-theme-element w3-center w3-margin w3-padding'>

            {% if not check_if_admin() %}
            <a href="/videos/video/{{video[0]}}">
                <h3>{{ video[0]}}</h3>
                <img src="https://img.youtube.com/vi/{{video[1]}}/mqdefault.jpg" />
            </a>


            {% else %}
            <form method=post action="videos/rename" method="POST">
                <input class="w3-theme-element w3-theme-txt w3-input w3-threequarter" type=text value="{{ video[0]}}"
                    name=title />
                <input hidden value="{{ video[1]}}" name=youtube_id />
                <input class="w3-button w3-theme-dark-element w3-round-large" type=submit id=submit value="Rename" />
            </form>
            <img src="https://img.youtube.com/vi/{{video[1]}}/mqdefault.jpg" />
            <form method=post action="videos/updateid" method="POST">
                <input class="w3-theme-element w3-theme-txt w3-input w3-threequarter" type=text value="{{ video[1]}}"
                    name=new_youtube_id />
                <input hidden value="{{ video[1]}}" name=old_youtube_id />
                <input class="w3-button w3-theme-dark-element w3-round-large" type=submit id=submit value="Update ID" />
            </form>
            {% endif %}


            {% if check_if_admin() %}
            <br />
            <br />
            <form id=mvUpmethod method=post action="videos/move" method="POST">
                <input hidden value='{{ video[0] }}|{{ video[1]}}' name='element' />
                <input hidden value='up' name=direction />
            </form>
            <form id=del method=post action="videos/deletion" method="POST">
                <input hidden value="{{ video[1]}}" name=youtube_id />
            </form>
            <form id=mvDown method=post action="videos/move" method="POST">
                <input hidden value='{{ video[0] }}|{{ video[1]}}' name='element' />
                <input hidden value='down' name=direction />
            </form>
            <div class="w3-bar">
                <button class="w3-round-large w3-button w3-theme-dark-element w3-bar-item" type="submit" form=mvUp>Move
                    Up</button>
                <button class="w3-round-large w3-button w3-theme-dark-element w3-bar-item" type="submit"
                    form=del>Delete</button>
                <button class="w3-round-large w3-button w3-theme-dark-element w3-bar-item" type="submit"
                    form=mvDown>Move Down</button>

            </div>
            {% endif %}


            <!--<div class="player-parent">
            <div class="youtube-player" data-id="{{video[1]}}"></div>
        </div>-->
        </div>
    </div>
    {%endfor%}
</div>
</div>
{% endfor %}
<footer>
    <br /><small>Oh, and, in case it wasn't glaringly obvious, none of the music in these videos is my original
        work. Most of them have credit in the description. If it doesn't email me and I'll try to track the song
        down.</small>
    <br /><small><a href='/login/?next=%2Fvideos'>Click here to enter admin mode</a></small>
    <!--<br /><small>You are free to change or modify any of this work, with credit, for noncommercial use. If you do so, don't forget to also credit the music creator accordingly. 
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></small>
        -->
</footer>
{% endblock %}