body{
    background-image: url(https://cdn.shopify.com/s/files/1/0650/2997/products/LS163_600x600@2x.jpg?v=1569524009) !important;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
p, li{
font-size: 24px !important;
}
h5{
font-size: 32px !important;
}
