{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block heading %}
About
{% endblock %}
{% block content %}
<h2>Introduction:</h2>
<h3>This page is going to be removed soon. See /welcome, /instructions or my <a
        href="https://github.com/jforseth210/jforseth.tech"> GitHub repository</a></h3> for information, instructions,
and updates.
<br />
<h2>How To:</h2>
<h3>Recieve prayer requests:</h3>
<ol>
    <li>Type in your email address where it says "Or be notified when someone requests prayer:"</li>
    <li>If you were given a code, type it in the box that say "PARISH". Otherwise leave this blank.</li>
    <li>Click submit</li>
    <li>Check your email. There should be a message from support@jforseth.tech.</li>
    <li>Open the message. Click the verify button at the buttom.</li>
    <li>Congrats. You will now recieve prayer requests.</li>
</ol>
<h3>Submit a prayer request:</h3>
<ol>
    <li>Where it says "nickname" type your name or a nickname if you perfer anonymity.</li>
    <li>Choose the group you'd like to send the request to. Selecting Public will send it to all groups. Please do not
        send the prayer request to Testing.</li>
    <li>Enter your prayer request in the text box.</li>
    <li>Click submit.</li>
    <li>Please wait for the page to load, your request is being sent.</li>
</ol>
<p>Type your name or a nickname if you perfer anonymity. Type out your prayer request. In the current verision, select
    an amount of time you'd like us to pray for you. In an upcoming version, select the group you'd like the request to
    be sent to. When you click submit, this request is sent as an email to the community.</p>
<br />
<h2>Update Log:</h2>
<p>Changes are no longer saved here. If you want to know what's changed, you can check <a
        href="https://github.com/jforseth210/jforseth.tech">github.</a> Most changes are in the background, but all
    changes are saved here. A list of changes will appear if you click "commits"</p>
<p>Future Changes:</p>
<ul>
    <li><a href='mailto:support@jforseth.tech'>Submit your feature requests</a></li>
</ul>
{% endblock %}