<html>

<head>
    <base href='https://jforseth.tech/'>
    <title>Menu</title>
    <!--Thanks to the creator of https://html-online.com/demo/popup-box/-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--End https://html-online.com/demo/popup-box/-->
    <!--Clicky Web Analytics-->
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101163615);</script>
    <script async src="//static.getclicky.com/js"></script>
    <!--End Clicky Web Analytics-->
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
    <link rel='stylesheet' href='/static/index.css' type='text/css' />
    <link rel="icon" href="cross_favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="cross_favicon.ico" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <!-- Top Navigation Menu -->
    <div class="topnav">
        <a href="#home" class="active">Logo</a>
        <div id="myLinks">
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    </nav>
    <script>
            function myFunction() {
              var x = document.getElementById("myLinks");
              if (x.style.display === "block") {
                x.style.display = "none";
              } else {
                x.style.display = "block";
              }
            }
            </script>
</body>