{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block heading %}
Jforseth.tech
{% endblock %}
{% block content %}
<h2>Welcome to jforseth.tech</h2>
<p>This is a website I've created for testing, and experimenting and trying new things.</p>
<h3>My projects so far:</h3>
<div class=row>
    <div class=column>
        <a href='/prayer'>
            <b>Prayer Requests:</b>
            <br />
            <img class='thumbnail' src='/static/PrayerRequests.png' /></a>
        <br /><a href="/instructions#prayerrequests">Instructions</a>
        <br />
        <p>A simple tool I created to allow members of my church to exchange prayer requests.</p>
    </div>
    <div class=column><a href='/videos'>
            <b>Videos:</b>
            <br />
            <img class='thumbnail' src='/static/video.PNG' /></a>
        <br /><a href="/instructions#videos">Instructions</a>
        <br />
        <p>In my free time I make videos about farming, ranching, events I go to, and whatever else I feel
            like. You can find them here.</p>
    </div>
    <div class=column><a class=messenger_popup_trigger>
            <b>Messenger:</b>
            <br />
            <img class='thumbnail' src='/static/Messenger.png'></a>
        <br /><a href="/instructions#chat">Instructions</a>
        <br />
        <p>A simple little popup widget I made as a challenge.</p>
    </div>
</div>
<div class=row>
    <div class=column>
        <a href='/todo'>
            <b>Todo list:</b>
            <br />
            <img class='thumbnail' src='/static/Todo.PNG'></a>
        <br /><a href="/instructions#todo">Instructions</a>
        <br />
        <p>A simple todo list I created for personal use. Not available to general public.</p>
    </div>
    <div class=column>
        <a href='/luckyshoe'>
            <b>Horseshoe Art:</b>
            <img class='thumbnail' src='/static/HorseshoeArt.PNG'></a>
        <br /><a href="/instructions#horseshoeart">Instructions</a>
        <br />
        <p>My brother is a welder who makes horseshoe art, which you can look at and order from here.</p>
    </div>
    <div class=column>
        <a href='/mail'>
            <b>Mail:</b>
            <img class='thumbnail' src='/static/mail.png'></a>
        <br /><a href="/instructions#mail">Instructions</a>
        <br />
        <p>Created so I didn't have to deal with Gmail to send prayer requests. Allows me to create custom
            email addresses for use on the site.</p>
    </div>
</div>
<div class=row>
    <div class=column>
        <a href='/filesharing'>
            <b>File Sharing:</b>
            <img class='thumbnail' src='/static/filesharing.PNG'></a>
        <br /><a href="/instructions#filesharing">Instructions</a>
        <br />
        <p>A simple file sharing service I created. Upload a file to the server download it on another device. All
            uploads
            are
            public and are wiped at midnight.</p>
    </div>
    <div class=column>
        <a href='/barrelracing/counter'>
            <b>Barrel Racing Current Rider:</b>
            <img class='thumbnail' src='/static/barrelracingcounter.png'></a>
        <br /><a href="/instructions#barrelracingcounter">Instructions</a>
        <br />
        <p>A widget I made for a friend to help her keep track of which rider is currently up for barrel racing.</p>
    </div>
    <div class=column>
        <a href='/login'>
            <b>Accounts:</b>
            <img class='thumbnail' src='/static/account.png'></a>
        <br /><a href="/instructions#barrelracingcounter">Instructions</a>
        <br />
        <p>Mostly used to prevent the general public from using personal/admin tools, not needed for
                prayer requests or anything else.</p>
    </div>
</div>
<footer>
    <small>More experiments and tools coming soon!</small>
</footer>
{% endblock %}