{% extends 'base.html' %} {% block title %}Prayer Requests{% endblock %} {%
block head %}
<script src="/static/prayer/prayer.js"></script>
<link rel="stylesheet" href="/static/prayer/prayer.css" type="text/css" />
{% endblock%} {% block heading %} Prayer Requests {% endblock %} {% block
content %}
<div class="container">
  <div class="row">
    <p>
      Thank you for visiting jforseth.tech/prayer. While it hasn't always seen a
      lot of use, this project has been a great learning experience and it's
      changed a lot, both in appearance and in the code that actually makes the
      whole thing work. Unfortunately, this page is being used to send more
      spam-emails than actual prayer requests, and I've decided to pull the plug. 
      If you have any questions, comments, concerns, or prayer requests, you are 
      welcome to contact me using the link in the top right. 
      <br />-Justin
    </p>
    <!--<div class=col-5>
            <form id='form1' class="card p-4 theme-element" action="/prayer/prayerrequest" method="POST">
                <h2><i class='fas fa-paper-plane' style='font-size:18px'></i> Request Prayer:</h2>
                <input class='form-control theme-element theme-txt' type='name' name='name'
                    placeholder='Nickname' required />
                <select class=' form-control theme-element theme-txt' form='form1' name='parish'
                    required>
                    <option disabled selected>Select</option>
                    {% for option in options %}
                    <option>{{ option }}</option>
                    {% endfor %}
            --><!--REMEMBER TO UPDATE BOTH FORMS AND THE DICT!
                    <option>Public</option>
                    <option>Saint John RE</option>
                    <option>Saint John Parish</option>
            <option>Saint Joseph RE</option>
            <option>Saint Joseph Parish</option>
            <option>Testing</option>
            <option>LL Small Group 3</option>-->
    <!--</select>
                <br />
                <textarea id='prequest' class='form-control theme-element theme-txt'
                    form='form1' name='prequest' placeholder="Type your prayer request here" required></textarea>
                <br />
                <br />
                <input class='btn theme-txt theme-dark-element' type="submit" value="Submit" />
            </form>
            <br /><br />
            <div class="card p-4 theme-element">
                <h2><i class='fas fa-inbox' style='font-size:18px'></i> Recieve Prayer Requests:</h2>
                <p>To recieve prayer requests, <a href="/signup">create a jforseth.tech account </a> and check the "I
                    want
                    to recieve prayer requests" box.</p>
            </div>
        </div>
        <div class='col-7'>
            <div class='col-md-10 p-4 mx-auto' id="quote"></div>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="ml-auto float-right" onclick="getQuote()"><i id='reloadbtn' class='fas fa-sync' style='font-size:18px'></i></div>
</div>-->
    {% endblock %}
  </div>
</div>
