{% extends 'base.html' %}
{% block title %}Prayer Requests{% endblock %}
{% block head %}
<script src="/static/prayer/prayer.js"></script>
<link rel='stylesheet' href='/static/prayer/prayer.css' type='text/css' />
{% endblock%}
{% block headingimage %}
<img
    src='/static/prayer/cross.jpg'
    id='cross' />
{% endblock %}
{% block heading %}
Prayer Requests
{% endblock %}
{% block content %}
<div id="quote"></div>
<div class='forms'>
    <h2>Request Prayer:</h2>
    <form id='form1' action="/prayer/prayerrequest" method="POST">
        <input class='w3-input w3-border w3-round' type='name' name='name' placeholder='Nickname' required />
        <select class='w3-input w3-border w3-round' form='form1' name='parish' required>
            <option disabled selected>Select</option>
            {% for option in options %}
                <option>{{ option }}</option>
            {% endfor %}
            <!--REMEMBER TO UPDATE BOTH FORMS AND THE DICT!
            <option>Public</option>
            <option>Saint John RE</option>
            <option>Saint John Parish</option>
            <option>Saint Joseph RE</option>
            <option>Saint Joseph Parish</option>
            <option>Testing</option>
            <option>LL Small Group 3</option>-->
        </select>
        <br />
        <textarea id='prequest' class='w3-input w3-border w3-round' form='form1' name='prequest' placeholder="Type your prayer request here"
            required></textarea>
        <br />
        <br />
        <input class=w3-button type="submit" value="Submit" />
    </form>
    <br /><br />
    <h2>Recieve Prayer Requests</h2>
    <form class='send' id='form2' action="prayer/newemail" method="POST">
        <p class='no-pad'>
            <input class='inputs' id='email' autocomplete='off' type="email" name="email"
                placeholder='someone@example.com' required />
            <input class='inputs parish' name='parish' placeholder='PARISH'>
            <input class='no=pad' id='submit' type="submit" value="Submit" />
        </p>
    </form>
</div>
<footer>
    <p><img id="refresh" onclick="getQuote()" src="https://img.icons8.com/windows/32/000000/restart.png"></p>
    <small>Icon Credit: <a href='https://www.iconfinder.com'>www.iconfinder.com</a></small>
    <br />
    <small>Image Credit: <a
            href="https://commons.wikimedia.org/wiki/File:Cross_in_sunset.jpg">commons.wikimedia.org</a></small>
</footer>
{% endblock %}