{% extends 'base.html' %}
{% block title %}Prayer Requests{% endblock %}
{% block head %}
<script src="/static/prayer/prayer.js"></script>
<link rel='stylesheet' href='/static/prayer/prayer.css' type='text/css' />
{% endblock%}
{% block headingimage %}
<img src='/static/prayer/cross.jpg' id='cross' />
{% endblock %}
{% block heading %}
Prayer Requests
{% endblock %}
{% block content %}
<div class=w3-row>
    <div class=w3-third>
        <br />
        <br />
        <form id='form1' class="w3-container w3-theme-element w3-card-4 w3-padding" action="/prayer/prayerrequest"
            method="POST">
            <h2><i class='fas fa-paper-plane' style='font-size:18px'></i> Request Prayer:</h2>
            <input class='w3-half w3-theme-element w3-theme-txt w3-input' type='name' name='name' placeholder='Nickname'
                required />
            <select class=' w3-half w3-theme-element w3-theme-txt w3-round w3-input' form='form1' name='parish'
                required>
                <option disabled selected>Select</option>
                {% for option in options %}
                <option>{{ option }}</option>
                {% endfor %}
                <!--REMEMBER TO UPDATE BOTH FORMS AND THE DICT!
                    <option>Public</option>
                    <option>Saint John RE</option>
                    <option>Saint John Parish</option>
            <option>Saint Joseph RE</option>
            <option>Saint Joseph Parish</option>
            <option>Testing</option>
            <option>LL Small Group 3</option>-->
            </select>
            <br />
            <textarea id='prequest' class='w3-theme-element w3-theme-txt w3-round w3-input' form='form1' name='prequest'
                placeholder="Type your prayer request here" required></textarea>
            <br />
            <br />
            <input class='w3-theme-dark-element w3-button w3-round' type="submit" value="Submit" />
        </form>
        <br /><br />
        <form class="w3-container w3-theme-element w3-card-4 w3-padding" id='form2' action="prayer/newemail"
            method="POST">
            <h2><i class='fas fa-inbox' style='font-size:18px'></i> Recieve Prayer Requests:</h2>
            <input class='w3-half w3-theme-element w3-theme-txt w3-input' id='email' autocomplete='off' type="email"
                name="email" placeholder='someone@example.com' required />
            <input class='w3-half w3-theme-element w3-theme-txt w3-input' name='parish' placeholder='PARISH'>
            <br />
            <br />
            <input class='w3-theme-dark-element w3-button w3-round' type="submit" value="Submit" />
        </form>
    </div>
    <div class='w3-twothird w3-padding-64 w3-center w3-cell'>
        <div class='w3-threequarter w3-right w3-cell-middle' id="quote"></div>
    </div>
    <div onclick="getQuote()"><i id='reloadbtn' class='w3-right fas fa-sync' style='font-size:18px'></i></div>
</div>
<footer class=w3-row>
    <small>Image Credit: <a
            href="https://commons.wikimedia.org/wiki/File:Cross_in_sunset.jpg">commons.wikimedia.org</a></small>
</footer>
{% endblock %}