{% extends 'base.html' %}
{% block title %}Oops{% endblock %}
{% block heading %}
Oops
{% endblock %}
{% block content %}
<p>"One who makes no mistakes, makes nothing." Saint Theresa of Avila</p>
<br />
<p>Mistakes have been made! Something has gone wrong with my code, and this page no longer works. If you let me
    know, I'll try to fix it.</p>
<br />
<p><a href='mailto:support@jforseth.tech'>Click here</a> to report the problem. (Be as detailed as possible.)
</p>
<a href='/prayer'>Return to homepage. (It probably still works...)</a>
{% endblock %}