{% extends 'base.html' %}
{% block title %}Oops{% endblock %}
{% block heading %}
Oops
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">"One who makes no mistakes, makes nothing." Saint Theresa of Avila</h1>
    <h3>Mistakes have been made! Something has gone wrong with my code, and this page no longer works. If you let me
        know, I'll try to fix it.</h3>
    <h4 class="text-center"><a href='mailto:support@jforseth.tech'>Click here</a> to report the problem. (Be as detailed
        as possible.)</h4>
    <h4 class="text-center"><a href='/prayer'>Return to homepage. (It probably still works...)</a></h4>
</div>
{% endblock %}