<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='http://jforseth.tech/static/index.css' type='text/css' />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
    <title>Confirm</title>
</head>

<body>
    <h3>Confirm</h3>
    <p>Thank for signing up. We've sent a verification code to your email.</p>
    <br />
    <a href='http://jforseth.tech/prayer'>Return to homepage</a>
</body>

</html>