<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Forseth Family Farms: Home</title>
        <link href="index.css" rel="stylesheet" type="text/css" />
        <meta name='viewport' content='width=device-width initial-scale=1.0'/>
        <h1>Welcome to Forseth Family Farms</h1>
        <ul id="list-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="meet-the-crew.html">Meet the Crew</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="form.html">Web App</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="http://192.168.1.11:8011/default.htm">CowCams</a></li>
            <li><a href="mailto:cforseth@3rivers.net">Contact</a></li>
        </ul>
        <br />
    </head>
    <body>
        <br>
        <p>We are a farm/ranch, located in Montana that raises red angus beef and grows barely and alfalfa hay.Our website is still under construction and will be an ongoing project, but you can see what we have up right now. </p>
        <br><span>You are visitor #</span><img src='http://www.free-website-hit-counter.com/c.php?d=9&id=113592&s=8' alt='Hit Counter'>
        <script src="index.js"></script>
    </body>
</html>
