<!DOCTYPE html>
<html>

<head>
        <title>Forseth Family NFL Pickems</title>
        <!--Thanks to the creator of https://html-online.com/demo/popup-box/-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
        <script src="http://jforseth.tech/static/modal_files/jquery.min.js"></script>
        <script language="JavaScript" src="http://jforseth.tech/static/modal_files/script.js"></script>
    
        <link rel="stylesheet" type="text/css" href="http://jforseth.tech/static/modal_files/style.css">
        <script type="text/javascript" src="http://jforseth.tech/static/modal_files/jsapi"></script>
        <!--End https://html-online.com/demo/popup-box/-->
        <!--Clicky Web Analytics-->
        <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101163615);</script>
        <script async src="//static.getclicky.com/js"></script>
        <!--End Clicky Web Analytics-->
        <meta name='viewport' content='width=device-width initial-scale=1.0' />
        <link rel='stylesheet' href='http://jforseth.tech/static/index.css' type='text/css' />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <meta name='viewport' content='width=device-width initial-scale=1.0' />
        <!--<base href='http://jforseth.tech/'/>-->
        <base href='http://jforseth.tech/' />
</head>

<body>
    <h3>NFL Pick 'em</h3>
    <form action='/pickem/submissions' method="POST">
        <input placeholder='Name' name='name' required/>
        <div>
            <table>
                {% for team in teams %}
                <tr>
                    <td>
                        <input type='radio' name='{{ team }}' id='{{ team[0] }}' value='{{ team[0] }}' required/>
                        <label for="{{ team[0] }}">{{ team[0] }}</label>
                    </td>
                    <td>
                        <input type='radio' name='{{ team }}' id='{{ team[1] }}' value='{{ team[1] }}' required/>
                        <label for='{{ team[1] }}'>{{ team[1] }}</label>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br />
        <br />
        <br />
        <input type='submit' value='Submit'>
        <form>
</body>

</html>