<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='http://jforseth.tech/static/index.css' type='text/css' />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
    <title>Request sent sucessfully.</title>
</head>

<body>
    <h3>Request sent sucessfully</h3>
    <p>Your prayer request has been sent</p>
    <a href='http://jforseth.tech/prayer'>Return to homepage</a>
</body>

</html>