<html>

<head>
    <title>Justin's Todo List</title>
    <!--Thanks to the creator of https://html-online.com/demo/popup-box/-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="http://jforseth.tech/static/modal_files/jquery.min.js"></script>
    <script language="JavaScript" src="http://jforseth.tech/static/modal_files/script.js"></script>

    <link rel="stylesheet" type="text/css" href="http://jforseth.tech/static/modal_files/style.css">
    <script type="text/javascript" src="http://jforseth.tech/static/modal_files/jsapi"></script>
    <!--End https://html-online.com/demo/popup-box/-->
    <!--Clicky Web Analytics-->
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101163615);</script>
    <script async src="//static.getclicky.com/js"></script>
    <!--End Clicky Web Analytics-->
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
    <link rel='stylesheet' href='http://jforseth.tech/static/index.css' type='text/css' />
    <link rel='stylesheet' href='index.css' type='text/css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
    <style>
        #taskid{width:50px;padding: 10px}
        </style>
    <!--<base href='http://jforseth.tech/'/>-->
    <base href='http://jforseth.tech/' />
</head>

<body>
    <h1 class='heading'>Justin's Todos</h1>
    <nav>
        <ul id="list-nav">
            <li><a href="http://jforseth.tech/">Home</a></li>
            <li><a href="http://jforseth.tech/about">About</a></li>
            <li><a href="http://jforseth.tech/prayer">Prayer Requests</a></li>
            <li><a href="http://jforseth.tech/videos">Videos</a></li>
            <li><a class="trigger_popup_fricc">Chat</a></li>
            <li><a href="mailto:406prayerrequests@gmail.com">Contact</a></li>
        </ul>
    </nav>
    <div id='answered'>
        <form id='form1' action="todo/submitted" method="POST">
            <input class='inputs' type='name' name='taskname' id='name' placeholder='Task' required autofocus/>
        </form>
    </div>
    <div>
        <ol class='answers' id='answers'>
            {% for value in result %}
            <li>
                {{ value[0] }}
            </li>
            {% endfor %}
        </ol>
    </div>
    <form action="todo/delete" method='POST'>
        <p>Task to delete:</p>
        <input type='number' id='taskid' name='taskid'></input>
        <input type='submit' value='Delete' />
    </form>
    <br />
    <form action="todo/reorder" method="POSt">
        <p>Task to move:</p><input type='number' name='taskid' id='taskid' />
        <br />
        <p>Position to move task:</p><input type='number' name='taskloc' id='taskid' />
        <br />
        <input type='submit' value='Move' />
</body>

</html>
