<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <!--Thanks to the creator of https://html-online.com/demo/popup-box/-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="http://jforseth.tech/static/modal_files/jquery.min.js"></script>
    <script language="JavaScript" src="http://jforseth.tech/static/modal_files/script.js"></script>

    <link rel="stylesheet" type="text/css" href="http://jforseth.tech/static/modal_files/style.css">
    <script type="text/javascript" src="http://jforseth.tech/static/modal_files/jsapi"></script>
    <!--End https://html-online.com/demo/popup-box/-->
    <!--Clicky Web Analytics-->
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101163615);</script>
    <script async src="//static.getclicky.com/js"></script>
    <!--End Clicky Web Analytics-->
    <link rel='stylesheet' href='http://jforseth.tech/static/index.css' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
</head>

<body>
    <h1 class='heading'>jforseth.tech</h1>
    <nav>
        <ul id="list-nav">
            <li><a href="http://jforseth.tech/">Home</a></li>
            <li><a href="http://jforseth.tech/about">About</a></li>
            <li><a href="http://jforseth.tech/prayer">Prayer Requests</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a class="trigger_popup_fricc">Chat</a></li>
            <li><a href="mailto:406prayerrequests@gmail.com">Contact</a></li>
        </ul>
    </nav>
    <h2>Welcome to jforseth.tech</h2>
    <p>This is a website I've created for testing, and experimenting and trying new things.</p>
    <h3>My projects so far:</h3>
    
    <a href='/prayer'>
        <img class='thumbnail' src='http://jforseth.tech/static/PrayerRequests.png' />
        <br />
        <b>Prayer Requests:</b></a>
    <br />
    <p>Chances are, this is what you're here for. This is the digital prayer chain project, and for now, it's the main
        purpose of this site. For more info, click the "about" tab.</p>
    
    <a href='/messenger'>
        <img class='thumbnail' src='http://jforseth.tech/static/Messenger.png'>
        <br />
        <b><u>Messenger:</u></b></a>
    <br />
    <p>This is an experimental messenger using SQLite. I'm still working on it, but it works okay...</p>

    <a href='/static/Todo.png'>
        <img class='thumbnail' src='http://jforseth.tech/static/Todo.PNG'>
        <br />
        <b><u>Todo list:</u></b></a>
    <br />
    <p>A simple todo list I created for personal use.</p>
    
    <a href='/pickem'>
        <img class='thumbnail' src='http://jforseth.tech/static/Pickem.PNG'><!--Stupid case sensative file system.-->
        <br />
        <b><u>Pickem:</u></b></a>
    <br />
    <p>A very experimental tool for guessing the results of an NFL week and then scoring it at the end. At the moment, it's just a frontend form, but eventually it'll autograde and keep scores for everyone. Maybe I'll even find an API I can use to get the weeks games automatically.</p>
    <p><b><u>Videos:</u></b>
        <br />I also do some video editing. If your interested, <a href='/videos'>click here</a> to watch. (Be patient, it takes a sec to load!)</p> 
    <footer>
        <small>More experiments and tools coming soon!</small>
    </footer>
    <!--Thanks to the creator of https://html-online.com/demo/popup-box/-->
    <div class="hover_bkgr_fricc" style="display: none;">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton">X</div>
            <iframe frameborder='no' src='http://jforseth.tech/messenger' scrolling='no' height='100%' width='100%' />
        </div>
    </div>
    <!--End https://html-online.com/demo/popup-box/-->
</body>

</html>
