{% extends 'base.html' %}
{% block title %}Writer{% endblock %}
{% block head %}
<link rel='stylesheet' href='/static/writer/writer.css' type='text/css' />
{% endblock%}
{% block heading %}
Writer
{% endblock %}
{% block content %}
<br />
{% for i in docs %}
<div class="w3-third hi75">
    <div class='w3-card w3-padding w3-margin w3-theme-element'>
        <a href='/writer/{{i}}'>
            <h3>{{i}}</h3><br /><img class='w3-image wid100' src="writer/thumb/{{i}}" />
        </a>
        <br /><br />
    </div>
</div>
{% endfor %}
<div class=newbutton>
    <i class='newdoc_popup_trigger fa fa-plus-circle' style="font-size:64px"onclick="document.getElementById('id02').style.display='block'"></i>
</div>
<div id="id02" class="w3-modal">
    <!-- Modal content -->
    <div class="w3-modal-content w3-theme-bg">
        <span onclick="document.getElementById('id02').style.display='none'"
            class="w3-button w3-display-topright w3-theme-bg">&times;</span>
        <input id="newdocinput" class="w3-theme-element w3-theme-txt w3-input w3-animate-input">
        <button id="newbutton" class=w3-button onclick=create()>Create</button>
    </div>
</div>
<script src="/static/writer/writer.js"></script>
{% endblock %}