{% extends 'base.html' %}
{% block title %}Writer{% endblock %}
{% block head %}
<link rel='stylesheet' href='/static/writer/writer.css' type='text/css' />
{% endblock%}
{% block heading %}
Writer
{% endblock %}
{% block content %}
<br/>
<div class=w3-row>
{% for i in docs %}
<div class="w3-third hi75">
    <div class='w3-card w3-padding w3-margin w3-theme-element'>
<a href='/writer/{{i}}'><h3>{{i}}</h3><br/><img class='w3-image wid100'src="static/writer/thumbs/{{i.lower()}}.html_thumb.png" /></a>
<br /><br />
</div></div>
{% endfor %}
</div>
{% endblock %}