{% extends 'base.html' %}
{% block head %}
<link rel=stylesheet href='static/file_sharing/file_sharing.css' type="text/css" />{% endblock %}
{% block title %}File Sharing{% endblock %}
{% block heading %}
File Sharing
{% endblock %}
{% block content %}
<div class="container-fluid">
    <form method=post enctype=multipart/form-data>
        <div class="custom-file">
            <label id=FileUploadLabel for=FileUpload1
                class="m-2 custom-file-label w3-theme-bg w3-theme-txt form-control w-50">Upload a
                file</label>
            <input class="custom-file-input w3-theme-txt" id=FileUpload1 onchange=getUploadTitle() type=file name=file>
        </div>
        <input class="btn m-2 my-3 w3-theme-element w3-theme-txt" type=submit id='submit' value=Upload>
    </form>
    <p>You probably shouldn't use this. All files uploaded are publicly visible. There's probably some sort of size
        limit. I can make no guarantee of privacy, security, speed, or even basic functionality. Use at your own risk.
    </p>
    <h5>Uploaded files (Available until midnight tonight): </h5>
    <ul>
        {% for file in files %}
        <li><a href="/filesharing/{{file}}">{{file}}</a></li>
        {% endfor %}
    </ul>
    <script src=static/file_sharing/file_sharing.js></script>
</div>
{% endblock %}