{% extends 'base.html' %}
{% block title %}File Sharing{% endblock %}
{% block heading %}
File Sharing
{% endblock %}
{% block content %}
    <p>I wanted a simple way to share files, so I added this to my site.</p>
    <p>Disclaimer: I make no guarantee of privacy, security, or functionality for this tool. If you upload a file, you grant me the rights to store, use, or delete it in any way I see fit with no warning or prior notice whatsoever.</p>
    <p>On a more cheerful note, if you want support for a filetype that isn't available, email me at: <a href="mailto:support@jforseth.tech">406prayerequests@gmail.com</a></p>
    <p>Also, there's probably a size limit. I'm not sure what it is though.</p>
    <form method=post enctype=multipart/form-data>
      <input type=file class='inputs' name=file>
      <input type=submit id='submit' value=Upload>
    </form>
    <p>Uploaded files (Available until midnight tonight): </p>
    <ul>
    {% for file in files %}
    <li><a href="/filesharing/{{file}}">{{file}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
