{% extends 'base.html' %}
{% block head %}
<link rel=stylesheet href='static/file_sharing/file_sharing.css' type="text/css" />{% endblock %}
{% block title %}File Sharing{% endblock %}
{% block heading %}
File Sharing
{% endblock %}
{% block content %}
<p>I wanted a simple way to share files, so I added this to my site.</p>
<p>Disclaimer: I make no guarantee of privacy, security, or functionality for this tool. If you upload a file, you grant
  me the rights to store, use, or delete it in any way I see fit with no warning or prior notice whatsoever.</p>
  <p>On a more cheerful note, if you want support for a filetype that isn't available, email me at: <a
    href="mailto:support@jforseth.tech">support@jforseth.tech</a></p>
    <p>Also, there's probably a size limit. I'm not sure what it is though.</p>
    <form method=post enctype=multipart/form-data> <label  id=FileUploadLabel for=FileUpload1 class="w3-theme-bg w3-theme-txt w3-input w3-third">Upload a
      file</label>
      <input class="w3-hide-small w3-hide-medium w3-hide-large" id=FileUpload1 onchange=getUploadTitle() type=file name=file>
      <input class="w3-round-large w3-button w3-theme-dark-element w3-bar-item" type=submit id='submit' value=Upload>
    </form>
    <p>Uploaded files (Available until midnight tonight): </p>
    <ul>
      {% for file in files %}
      <li><a href="/filesharing/{{file}}">{{file}}</a></li>
      {% endfor %}
    </ul>
    <script src=static/file_sharing/file_sharing.js></script>
    {% endblock %}