

/*The entire page*/

:root {
	--main-bg-color: #0f2f4f;
	--main-txt-color: #AAAAAA;
	--main-element-color: #0a1f3f;
  --hover-color: #1f3f5f;
  --main-font: 'Sorts Mill Goudy', serif;
}

html {
	background: var(--main-bg-color);
	color: var(--main-txt-color);
	font-family: var(--main-font);
}


/*Set all links to black*/

a {
	color: var(--main-txt-color);
}
.account{
	background:var(--main-element-color);
	float: right;
	border-radius: 7px;
	padding: 5px;
	padding-bottom:0px; 
	position: relative;
	display: block;
}
.account-content {
	display: none;
	position: absolute;
	background-color: var(--main-element-color);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	margin-top:0px;
	right:0;
	list-style-type: none;
  }
  .account:hover .account-content {
	display: block;
  }
  .account-content a,ul {
	color: var(--main-txt-color);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .account-content a:hover {background-color:var(--hover-color)}
  
  /* Show the dropdown menu on hover */
  .account:hover .account-content {
	display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .account:hover .account {
	background-color: #3e8e41;
  }
/*The heading: Prayer Requests, Welcome, etc.*/

.heading {
	padding-top: 20px;
	padding-bottom:20px;
}


/*The cross image on the prayer requests page*/

#cross {
	height: 80px;
	float: left;
}
@media screen and (max-width: 712px) {
	#cross{
		display: none;
	}
}


/*The thumbnails on the welcome page.*/

.thumbnail {
	width: 20%;
	height: 20%;
	border: 2px solid var(--main-txt-color)
}


/*Forms on the prayer requests page*/

.forms {
	padding-left: 5px;
	float: left;
	width: 40%;
}


/*All form inputs. Mostly*/

.inputs {
	border: none;
	background: transparent;
	color: var(--main-txt-color);
	border-bottom: 2px var(--main-txt-color) solid;
	font-family: var(--main-font);
	font: 12pt;
}


/*The main prayer requests input.*/

textarea {
	width: 300px;
	height: 100px;
}


/*The nickname field on the prayer requests page.*/

#name {
	width: 100px;
	height: 25px;
}


/*Parish dropdown menu*/

.dropdown {
	height: 25px !important;
	width: 75px !important;
	background-color: var(--main-bg-color);
	padding: 0px;
	margin: 0px;
}


/*The quote on the right side of the prayer page*/

#quote {
	float: right;
	width: 50%;
	text-align: center;
}


/*The footer*/

footer {
	width: 100%;
	float: left;
}


/*The refresh button for the quotes*/

#refresh {
	float: right;
	padding-right: 10px
}


/*The submit buttons*/

#submit {
	border-radius: 20px;
	border: 1px solid var(--main-txt-color);
	background: var(--main-element-color);
	color: var(--main-txt-color);
}


ul.topnav {
	list-style-type: none;
	margin: -10px;
	padding: 0;
	overflow: hidden;
	background-color: var(--main-element-color);
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: var(--main-txt-color);
	text-align: center;
	padding: 30px 32px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: var(--hover-color);
}

ul.topnav li a.active {
	background-color: var(--main-element-color);
}

ul.topnav li.right {
	float: right;
}
/*The menu bar on mobile*/

#mobile-list-nav {
	padding: 0px;
	padding-bottom: 0px;
	width: 100%;
}

#mobile-list-nav li {
	list-style: none;
}

#mobile-list-nav li a {
	text-decoration: none;
	padding: 25px 0 0;
	width: 100% !important;
	background: --main-element-color;
	color: var(--main-txt-color);
	float: left;
	text-align: center;
	height: 75px
}

#mobile-list-nav li a:hover {
	background: --hover-color;
}

@media screen and (max-width: 712px) {
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
}


/* Dropdown Button: Currently unused*/
*/
.dropbtn {
	text-decoration: none;
	padding: 0;
	width: 100%;
	background: var(--main-element-color);
	color: var(--main-txt-color);
	float: left;
	text-align: center;
	height: 75px;
	border: none;
}


/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
	background: var(--hover-color);
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
	width: calc(100% / 6);
	white-space: nowrap;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	color: white;
	background-color: var(--main-element-color);
	min-width: 160px;
	width: 100%;
	z-index: 1;
	text-align: center;
}

.dropdown-content a {
	background-color: var(--main-element-color);
	color: white;
	z-index: 1;
	text-align: center;
	margin: 3px;
}


/* Links inside the dropdown */

.dropdown-content :hover {
	background-color: var(--hover-color);
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
	display: block;
}


/*Bunch of junk from messages that I have to make work*/

ul.messagelist {
	list-style: none;
	padding: 0;
	margin: 0;
}


#text {
	border: none;
	outline: none;
}

#form1.send {
	border: 1px solid var(--main-txt-color);
	border-radius: 15px;
	padding: 1px 10px;
	width: 210px;
	height: 23px;
	background:transparent;
}

.message {
	display: inline-block;
	border-radius: 15px;
	padding: 7px;
	margin: 3px 0px;
	width: auto;
	background: var(--main-element-color);
  color: var(--main-txt-color);
  font-family: var(--main-font);
}

#message-submit {
	border-radius: 10px;
	color: var(--main-txt-color);
	font-weight: bold;
	border: none;
	outline: none;
  background: var(--main-bg-color);
}

#clear {
	font-weight: bold;
	border-radius: 10px;
	border: 1px solid var(--main-txt-color);
	background: var(--main-element-color);
	color: var(--main-txt-color)
}

#text {
	border: none;
	outline: none;
  background: transparent;
  color:var(--main-txt-color);
  font-family: var(--main-font);
}



/*Alerts from https://www.w3schools.com/howto/howto_js_alert.asp*/
 /* The alert message box */
 .alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
	margin-left: -30%;
	width: 60%;
	position: absolute;
	margin-top: 20;
	left: 50%;
  }
  
  /* The close button */
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
	color: black;
  } 
.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
/*For simplelogin*/
.alert.primary{background-color: #4CAF50;}
.alert.danger{background-color: #ff9800;}
