{% extends 'base.html' %}
{% block title %}Oops{% endblock %}
{% block heading %}
Oops
{% endblock %}
{% block content %}
<p>"I tell you, he who does not enter by the door into the sheepfold, but climbs up some other way is a thief and a
    robber." JOHN 10:1</p>
<p>You aren't allowed to be here. One of three things probably happened:</p>
<ul>
    <li>You tried to access a part of the site you weren't supposed to.</li>
    <li>I accidentally banned your IP address.</li>
    <li>You sent too many requests, and the server thought you were a bot.</li>
</ul>
<p>If you think this is a mistake, <a href='mailto:406prayerequests@gmail.com'>click here<a /> to report the problem
</p>
<a href='/prayer'>Return to homepage</a>
{% endblock %}