{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block heading %}
Login
{% endblock %}
{% block content %}
   {{super()}}
   {%if form.errors %}
     <ul class="alert alert-danger">
       {% for field, errors in form.errors.items() %}
         <li>{{field}} {% for error in errors %}{{ error }}{% endfor %}</li>
       {% endfor %}
     </ul>
   {% endif %}
   <h3>Welcome to jforseth.tech</h3>
   <p>Please sign in or <a href="/addaccount">create an account.</a>:</p>
          <form action="{{ url_for('simplelogin.login') }}" method="post">
            <div class="form-group">
            {{ form.csrf_token }}
            {{form.username.label}}<div class="form-control">{{ form.username }}</div><br>
            {{form.password.label}}<div class="form-control"> {{ form.password }}</div><br>
            {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
            </form>
           <input type="submit" value="Send">
       </form>
       <p>Heads up, this password is being sent in plaintext. Please, whatever you do, use a unique password. I don't know anything about security whatsoever.
{% endblock %}

