<!DOCTYPE html>
<html>

<head>
    <base href='../'>
    <title>{% block title %}{% endblock %} </title>
    
    <!--Thanks to the creator of https://html-online.com/demo/popup-box/-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="/static/modal_files/jquery.min.js"></script>
    <script language="JavaScript" src="/static/modal_files/script.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/modal_files/style.css">
    <script type="text/javascript" src="/static/modal_files/jsapi"></script>
    <!--End https://html-online.com/demo/popup-box/-->

    <!--Clicky Web Analytics-->
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101163615);</script>
    <script async src="//static.getclicky.com/js"></script>
    <!--End Clicky Web Analytics-->

    <meta name='viewport' content='width=device-width initial-scale=1.0' />
    <link rel='stylesheet' href='/static/index.css' type='text/css' />
    <link rel="icon" href="static/cross_favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/cross_favicon.ico" type="image/x-icon" />

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet"> 
    <!--End Google fonts-->
    <style>
            .alert {
                opacity: 1;
                transition: opacity 0.6s;
                /* 600ms to fade out */
            }
    </style>
    {% block head %}{% endblock %}
</head>

<body>
    <!--Alerts from https://www.w3schools.com/howto/howto_js_alert.asp-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{category}}">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block headingimage %}{% endblock %}
    <div class="account">
    {% if is_logged_in()%}
    <p>Hello, {{ get_username() }}</p>
    <ul class="account-content">
        <a href="/logout">Log Out</a>
    </ul>
    {% else %}
    <p>Account</p>
    <ul class="account-content">
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Create Account</a></li>
    </ul>
    {% endif %}
    </div>
    <h1 class='heading'>{% block heading%}{% endblock %}</h1>
    <!--Don't forget to update menu.html!-->
    <nav>
        <ul class="topnav" id="list-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/instructions">Instructions</a></li>
            <li><a href="/prayer">Prayer Requests</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a class="trigger_popup_fricc">Chat</a></li>
            {% if check_if_admin() %}
            <li><a href="/todo">Todo</a></li>
            <li><a href='/filesharing'>File Sharing</a></li>
            <li><a href="/mail">Mail</a></li>            
            {% endif %}
            <li class='right'><a href="mailto:support@jforseth.tech">Contact</a></li>
            </div>
        </div>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <script>
        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;

        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
            // When someone clicks on a close button
            close[i].onclick = function () {

                // Get the parent of <span class="closebtn"> (<div class="alert">)
                var div = this.parentElement;

                // Set the opacity of div to 0 (transparent)
                div.style.opacity = "0";

                // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                setTimeout(function () { div.style.display = "none"; }, 600);
            }
        }
    </script>
    <!--End W3schools-->

    <!--Thanks to the creator of https://html-online.com/demo/popup-box/-->
    <div class="hover_bkgr_fricc" style="display: none;">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton">X</div>
            <iframe frameborder='no' src='/messenger' scrolling='no' height='100%' width='100%' />
        </div>
    </div>
    <!--End https://html-online.com/demo/popup-box/-->

</body>

</html>