<!DOCTYPE html>
<html lang="en">

<head>
    <base href='../'>
    <title>{% block title %}{% endblock %} </title>
    <!-- Start Open Web Analytics Tracker -->
    <script type="text/javascript">
        //<![CDATA[
        var owa_baseUrl = 'https://jforseth.tech/owa/';
        var owa_cmds = owa_cmds || [];
        owa_cmds.push(['setSiteId', '9dda5c45ea8970274f147c714698a09a']);
        owa_cmds.push(['trackPageView']);
        owa_cmds.push(['trackClicks']);
        owa_cmds.push(['trackDomStream']);

        (function () {
            var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
            owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl);
            _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
            var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
        }());
        //]]>
    </script>
    <!-- End Open Web Analytics Code -->
    <!-- Matomo -->

    <script type="text/javascript">

        var _paq = window._paq || [];

        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */

        _paq.push(['trackPageView']);

        _paq.push(['enableLinkTracking']);

        (function () {

            var u = "//jforseth.tech/matomo/";

            _paq.push(['setTrackerUrl', u + 'matomo.php']);

            _paq.push(['setSiteId', '1']);

            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];

            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);

        })();

    </script>

    <!-- End Matomo Code -->


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!--<link rel='stylesheet' href='/static/index.css' type='text/css' />-->
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
    <!--End Google fonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
    <!--w3css-->
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel='stylesheet' href='/static/w3theme.css' type='text/css' />
    <link rel='stylesheet' href='/static/w3index.css' type='text/css' />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!--End w3css-->




</head>

<body class="w3-theme-bg w3-theme-txt">
    <!--Alerts from https://www.w3schools.com/howto/howto_js_alert.asp-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{category}}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block headingimage %}{% endblock %}
    <div class=container-fluid>
        <h1 class="my-3 d-inline-block">{% block heading%}{% endblock %}</h1>
        <div class="d-inline-block my-3 float-right dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                {% if is_logged_in()%}
                Hello, {{ get_username() }}
                {% else %}
                Account
                {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if is_logged_in()%}
                <li><a class="dropdown-item" href="/account/{{ get_username() }}">Account</a></li>
                <li><a class="dropdown-item w3-bar-item w3-hoverable w3-button" href="/logout">Log Out</a></li>

                {% else %}

                <li><a class="dropdown-item" href="/login">Log In</a></li>
                <li><a class="dropdown-item" href="/signup">Create Account</a></li>

                {% endif %}
            </ul>



        </div>
    </div>
    <!--Don't forget to update menu.html!-->

    <nav class='navbar navbar-dark navbar-expand-lg w3-theme-element'>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructions">Instructions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prayer">Prayer Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="document.getElementById('id01').style.display='block'">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/luckyshoe">Horseshoe Art</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' href="/todo">Todo</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' href="/mail">Mail</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' href="/writer">Writer</a>
                </li>
                {% if check_if_admin() %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Versions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:5000/">Dev</a>
                        <a class="dropdown-item" href="https://jforseth.tech/">Prod</a>
                    </div>
                </li>
                {% endif %}
                <!--<div class='w3-dropdown-hover w3-mobile'>
                    <button class='w3-button w3-padding-16'>Versions <i class="fa fa-caret-down"></i></button>
                    <div
                        class="w3-dropdown-content w3-animate-opacity w3-bar-block w3-theme-element w3-theme-txt w3-card-4">
                        <a class='nav-link' href="http://localhost:5000/">Dev</a>
                        </li>
                        <a class='nav-link' href="https://localhost:8443/">Backup</a>
                        </li>
                        <a class='nav-link' href="http://jforseth.tech/">Production</a>
                        </li>
                    </div>
                </div>-->
                <li class="nav-item">
                    <a class="nav-link" href='/filesharing'>File Sharing</a>
                </li>
                <!--<div class='w3-dropdown-hover w3-mobile'>
                    <button class='w3-button w3-padding-16 w3-center w3-mobile'>CowCams<i
                            class="fa fa-caret-down"></i></button>
                    <div
                        class="w3-dropdown-content w3-animate-opacity w3-bar-block w3-theme-element w3-theme-txt w3-card-4">
                        <li class="nav-item">
                            <a class="nav-link" href='http://jforseth.tech:8011'>WAN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='http://192.168.1.2:8011'>LAN</a>
                        </li>
                    </div>
                </div>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CowCams
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href='http://jforseth.tech:8011'>WAN</a>
                        <a class="dropdown-item" href='http://192.168.1.2:8011'>LAN</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href='mailto:support@jforseth.tech'>Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    {% block content %}
    {% endblock %}
    <div id="id01" class="w3-modal">
        <!-- Modal content -->
        <div class="w3-modal-content w3-theme-bg">
            <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright w3-theme-bg">&times;</span>
            <iframe frameborder='no' src='/messenger' scrolling='yes' height='110%' width='100%'></iframe>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/static/base.js"></script>
    <script src="https://use.fontawesome.com/1d70eca085.js"></script>
</body>

</html>