<!DOCTYPE html>
<html>

<head>
    <base href='../'>
    <title>{% block title %}{% endblock %} </title>
    <!--
        Thanks to the creator of https://html-online.com/demo/popup-box/
        This is the modal for the chat box. IDK anything about jquery, and not 
        nearly enough about JS to do it myself. Wish I could find the original 
        creator and credit properly. . .
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="/static/modal_files/jquery.min.js"></script>
    <script language="JavaScript" src="/static/modal_files/script.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/modal_files/style.css">
    <script type="text/javascript" src="/static/modal_files/jsapi"></script>
    <!--End https://html-online.com/demo/popup-box/-->

    <!--
        Clicky Web Analytics: This is a free service that tracks vistors on my site. 
        Given that I'm usually the only person that visits the site, it's more of a novelty
        than it is actually useful. 
    -->
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101163615);</script>
    <script async src="//static.getclicky.com/js"></script>
    <!--End Clicky Web Analytics-->

    <!--
        Google told me that I should put this in here. Something about accessibility of mobile users?
        Makes it look better on my phone, so I kept it. 
    -->
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
    <!--The main stylsheet for the page and my favicon.-->
    <link rel='stylesheet' href='/static/index.css' type='text/css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="static/cross_favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/cross_favicon.ico" type="image/x-icon" />

    {% block head %}{% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <!--Alerts from https://www.w3schools.com/howto/howto_js_alert.asp-->
                <div class="alert {{category}}">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block headingimage %}{% endblock %}
    <h1 class='heading'>{% block heading%}{% endblock %}</h1>
    <nav>
        <ul class="topnav" id="list-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/instructions">Instructions</a></li>
            <li><a href="/prayer">Prayer Requests</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a class="trigger_popup_fricc">Chat</a></li>
            {% if check_if_admin() %}
            <li><a href="/todo">Todo</a></li>
            <li><a href='/filesharing'>File Sharing</a></li>
            <li><a href="/mail">Mail</a></li>            
            {% endif %}
            {% if is_logged_in()%}
            <li><a href="/logout">Logout</a></li> 
            {% else %}
            <li><a href="/login">Login</a></li>  
            {% endif %}
            <li class='right'><a href="mailto:support@jforseth.tech">Contact</a></li>
            <!--Don't add this yet. Hold onto it for later though.-->

            <!--<div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Account</button>
            <div id="myDropdown" class="dropdown-content">`
                {% if is_logged_in() %}
                <p>Hello, {{ get_username() }}</p>
                <br /><br />
                <a href="/logout">Logout</a>
                {% else %}
                <p>Not signed in</p>
                <a href="/login">Login</a>
                <br/><br/>
                <a href='/addacount'>Create Account</a>
                {% endif %}
                <br /><br />
                <a href="mailto:support@jforseth.tech">Support</a>
            </div>
        </div>-->
        </ul>
    </nav>

    <!--<a href="/login">Sign in</a>
        <a href='/logout'>Sign out</a>-->
    {% block content %}
    {% endblock %}
    <!--Thanks to W3schools
    <script>
        /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        } 
    </script>-->

    <style>
        .alert {
            opacity: 1;
            transition: opacity 0.6s;
            /* 600ms to fade out */
        }
    </style>

    <script>
        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;

        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
            // When someone clicks on a close button
            close[i].onclick = function () {

                // Get the parent of <span class="closebtn"> (<div class="alert">)
                var div = this.parentElement;

                // Set the opacity of div to 0 (transparent)
                div.style.opacity = "0";

                // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                setTimeout(function () { div.style.display = "none"; }, 600);
            }
        }
    </script>
    <!--End W3schools-->
    <!--Thanks to the creator of https://html-online.com/demo/popup-box/-->
    <div class="hover_bkgr_fricc" style="display: none;">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton">X</div>
            <iframe frameborder='no' src='/messenger' scrolling='no' height='100%' width='100%' />
        </div>
    </div>
    <!--End https://html-online.com/demo/popup-box/-->
</body>

</html>