{% extends 'base.html' %}
{% block title %}Bull Judging{% endblock %}
{% block heading %}
jforseth.tech
{% endblock %}
{% block content %}
<h2>Bull Judging</h2>
<table>
    <tr>
        <td>
            <img src="/static/bull9.png"/>
        </td>
        <td>
            <img src="/static/bull10.png"/>
        </td>
    </tr>
    <tr>
        <td>
            <img src="/static/bull11.png"/>
        </td>
        <td>
            <img src="/static/bull12.png"/>
        </td>
    </tr>
<table>
<form>
    <input type="radio" />(1, 2, 3, 4)<br />
    <input type="radio" />(1, 2, 4, 3)<br />
    <input type="radio" />(1, 3, 2, 4)<br />
    <input type="radio" />(1, 3, 4, 2)<br />
    <input type="radio" />(1, 4, 2, 3)<br />
    <input type="radio" />(1, 4, 3, 2)<br />
    <input type="radio" />(2, 1, 3, 4)<br />
    <input type="radio" />(2, 1, 4, 3)<br />
    <input type="radio" />(2, 3, 1, 4)<br />
    <input type="radio" />(2, 3, 4, 1)<br />
    <input type="radio" />(2, 4, 1, 3)<br />
    <input type="radio" />(2, 4, 3, 1)<br />
    <input type="radio" />(3, 1, 2, 4)<br />
    <input type="radio" />(3, 1, 4, 2)<br />
    <input type="radio" />(3, 2, 1, 4)<br />
    <input type="radio" />(3, 2, 4, 1)<br />
    <input type="radio" />(3, 4, 1, 2)<br />
    <input type="radio" />(3, 4, 2, 1)<br />
    <input type="radio" />(4, 1, 2, 3)<br />
    <input type="radio" />(4, 1, 3, 2)<br />
    <input type="radio" />(4, 2, 1, 3)<br />
    <input type="radio" />(4, 2, 3, 1)<br />
    <input type="radio" />(4, 3, 1, 2)<br />
    <input type="radio" />(4, 3, 2, 1)<br />
</form>
<button><a href="/bulljudging4">Submit</a></button>
{% endblock %}
