.wrapper{
    position:relative;
    z-index: 1;
    display: inline-block;
}
.iframe{
    padding: 106px
}
.hidetop{
    position: absolute;
    width: 352px;
    height: 68px;
    background: WHITE;
    z-index:999;
    display: block;
    color: WHITE;
}
.hidelside{
    position: absolute;
    width: 36px;
    height: 620px;
    background: WHITE;
    z-index:999;
    display: block;
    color: WHITE;
}
.hidebottom{
    position: absolute;
    width: 352px;
    height: 107px;
    bottom: 0px;
    background: WHITE;
    z-index:999;
    display: block;
    color: WHITE;
}
#list-nav {
  margin:0px;
  padding:0;
  list-style:none;
  width:1000px;
}
#list-nav li {
  display:inline
}
#list-nav li a {
 text-decoration:none;
 padding:10px 0;
 width:100px;
 background:#1abc9c;
 color:#eee;
 float:left;
 text-align: center;
 height: 30px
}
#list-nav li a:hover {
  background:#95EADA;
  color:#000
}
html{
  font-family: 'Ubuntu', sans-serif;
}
