<!DOCTYPE html>
<html>

<head>
    <title>Messages</title>
    <base href="../"/>
    <link rel='stylesheet' href='/static/index.css' type='text/css' />
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
</head>

<body onload="form1.reset();">

    <h1 class='no-pad'>Messages</h1>
    <input type='button' value='Reload' onclick='window.location.reload()' id='clear' />
    <form action="/messenger/clear" method="POST">
        <p><input id='clear' type="submit" value="Clear" /></p>
    </form>
    <ul>
            {% for value in result %}
            <li class='message'> {{ value }} </li><br/>
            {% endfor %}
    </ul>
    <form class='send' id='form1' action="/messenger/result" method="POST">
<input id='text' autocomplete='off' type="text" name="Data" /><input class='no=pad' id='submit'
                type="submit" value="Send" />
    </form>
</body>

</html>