<!--This code is depreciated and no longer in use. See messenger_main.html instead.-->
<!DOCTYPE html>
<html>
    <head>
        <base href="../"/>
        <meta name='viewport' content='width=device-width initial-scale=1.0'/>
        <link rel='stylesheet' href='/static/index.css' type='text/css' />
    </head>
    <body>
        <ul>
            {% for value in result %}
            <li class='message'> {{ value }} </li><br/>
            {% endfor %}
        </ul>
    </body>
</html>
