<!DOCTYPE html>
<html lang="en">

<head>
  <!--Clicky Web Analytics-->
  <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101163615);</script>
  <script async src="//static.getclicky.com/js"></script>
  <!--End Clicky Web Analytics-->
  <meta charset="UTF-8">
  <title>{{name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    href="https://fonts.googleapis.com/css?family=Baskervville|Calistoga|Gupter|Merriweather|Playfair+Display|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Source+Sans+Pro&display=swap"
    rel="stylesheet">

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>

<body>
  <form id=form method="post">
    <textarea id="summernote" name="editordata"></textarea></form>

  <script>
    $(document).ready(function () {
      $('#summernote').summernote({
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Baskerville', 'Gupter', 'Roboto Mono', 'Roboto Condensed', 'Source Sans Pro', 'Merriweather', 'Roboto Slab', 'Calistoga', 'Playfair Display'],
        fontNamesIgnoreCheck: ['Baskerville', 'Gupter', 'Roboto Mono', 'Roboto Condensed', 'Source Sans Pro', 'Merriweather', 'Roboto Slab', 'Calistoga', 'Playfair Display'],
        toolbar: [
          //['paragraph style', ['style', 'ol', 'ul', 'paragraph', 'height']],
          //['font style', ['fontname', 'fontsize', 'color', 'bold', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
          //['insert', ['picture', 'link', 'video', 'table', 'hr']],
          //['misc', ['fullscreen', 'codeview', 'help']]
          ['paragraph', ['style', 'fontname', 'fontsize']],
          ['biuc', ['bold', 'italic', 'underline', 'clear']],
          ['text', ['strikethrough', 'superscript', 'subscript', 'color']],
          ['lists', ['ol', 'ul']],
          ['paragraph2', ['paragraph', 'height']],
          ['insert', ['picture', 'link', 'video', 'table', 'hr']],
          ['misc', ['fullscreen', 'codeview', 'help']]
        ],
        lorem: {
          el: '#summernote', // Element ID or Class used to Initialise Summernote.
          html: true // Place Lorem Ipsum Paragraphs inside <p> or set to false to not too.
        }
      });
      $('#summernote').summernote('fullscreen.toggle');
      $.ajax({
        url: '/writer/document/{{name}}',
        type: 'GET',
        success: function (res) {
          $('#summernote').summernote('code', res);
        }

      })
    });
    $('#summernote').on('summernote.change', function (we, contents, $editable) {
      console.log('onChange:', contents, $editable);
      we.preventDefault();
      var id_value = contents;
      // Do an AJAX post
      $.ajax({
        type: "POST",
        url: "/writer/save/{{name}}",
        data: {
          text: id_value // various ways to store the ID, you can choose
        },
        success: function (data) {
          // POST was successful - do something with the response

        },
        error: function (data) {
          // Server error, e.g. 404, 500, error
        }
      });
    });
    $('div.note-emojionechar-dialog').attr('tabindex', '-1');
  </script>
</body>

</html>