{% extends 'base.html' %}
{% block title %}Upload a video{% endblock %}
{% block heading %}
Video Upload
{% endblock %}
{% block content %}
<p>If you're not me, something has gone very wrong. Send me an email. If you are me, you know what you're doing.</p>
<form method=post action="videos/newupload" method="POST">
    <input type=text name=title placeholder='Title' />
    <input type=text name=ytlink placeholder="YouTube Link" />
    <input type=submit name=submit id='submit' value="Upload">
</form>
{% endblock %}