{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block heading %}
Jforseth.tech
{% endblock %}
{% block content %}
<h2>Welcome to jforseth.tech</h2>
<p>This is a website I've created for testing, and experimenting and trying new things. New: Source code for this site
    is now available on <a href="https://github.com/jforseth210/jforseth.tech" target="_blank">GitHub!</a></p>
<h3>My projects so far:</h3>

<a href='/prayer'>
    <img class='thumbnail' src='/static/PrayerRequests.png' />
    <br />
    <b>Prayer Requests:</b></a>
<br/><a href="/instructions#prayerrequests">Instructions</a>
<br />
<p>An ongoing project that allows people in my church to exchange prayer requests.</p>
<a href='/videos'>
    <img class='thumbnail' src='/static/video.PNG' />
    <br />
    <b>Videos:</b></a>
    <br/><a href="/instructions#videos">Instructions</a>
<br />
<p>A page containing all (or at least most) of my video editing projects.</p>
<a href='/messenger'>
    <img class='thumbnail' src='/static/Messenger.png'>
    <br />
    <b><u>Messenger:</u></b></a>
    <br/><a href="/instructions#chat">Instructions</a>
<br />
<p>This is an experimental messenger using SQLite. I'm still working on it, but it works okay...</p>

<a href='/todo'>
    <img class='thumbnail' src='/static/Todo.PNG'>
    <br />
    <b><u>Todo list:</u></b></a>
    <br/><a href="/instructions#todo">Instructions</a>
<br />
<p>A simple todo list I created for personal use. Not available to general public.</p>
<a href='/filesharing'>
    <img class='thumbnail' src='/static/filesharing.PNG'>
    <br />
    <b><u>File Sharing:</u></b></a>
    <br/><a href="/instructions#filesharing">Instructions</a>
<br />
<p>A simple file sharing service I created. Upload a file to the server download it on another device. All uploads are
    public and are wiped at midnight.</p>
<footer>
    <small>More experiments and tools coming soon!</small>
</footer>
{% endblock %}