<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width initial-scale=1.0'/>
        <link rel='stylesheet' href='https://jforseth.tech/static/index.css' type='text/css'/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <title>What is a parish code?</title>
    </head>
    <body>
        <h3>What is a parish code?</h3>
        <p>Having a large group of people praying for you is incredibly powerful. However, sometimes you only want to share your concerns with a small group of people you know and trust. A parish code is a word or phrase, like STJOHNRE, that you can use to send to a specific group of people, such as your youth group or church congregation. If you enter a parish code, that prayer request will only go to the people in that group. Don't know a parish code, or want to send your request to the entire prayer chain? Don't worry, you can just leave the field blank and the request will go to everyone.</p>
        <br/>
        <a href='https://jforseth.tech/prayer'>Return to homepage</a>
    </body>
</html>
